.search-bar {
    width: 100%;

    margin: 5vh 0 1vh 0;
}

.search-bar * {
    font-size: 1vw;
}

.search-bar input {
    width: 50vw;
    height: 2vh;

    padding: 1vh;

    border-radius: 0.3vh;
    border-style: none;

    box-shadow: 0.1vh 0.1vw 0.3vh;
}

.search-bar button {
    width: 2.5vw;
    height: 4vh;

    padding: 1vh;
    margin-left: 1vw;

    border-radius: 0.3vh;
    border-style: none;

    box-shadow: 0.1vh 0.1vw 0.3vh;
}
