.sort-panel {
    width: 52.5vw;
    height: 2vh;

    padding: 1vh 1vw;
    margin: 0 0 5vh 0;

    border-radius: 0.3vh;
    border-style: none;

    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0.1vh 0.1vw 0.3vh;
}

.sort-panel * {
    font-size: 1vw;
}

.sort {
    width: 7vw;
}

.results-found-label {
    margin-left: auto;
}
